
    .cardPage{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap ;
    }

.description{
    color: rgb(149, 145, 145);
}
#button{
    width: 15em;
}
.cardHP{
    margin-top: 2em;
    min-width: 23em;        

}

.name{
    margin-bottom: -1.5em;
}
