nav{
    width: 100%;
    background-color: #6D4C41	;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 5em;
    border-radius:100%;
}
#navbar-search , button{
    align-self: center;
}
#navbar-search input{
    border-radius: 10px;

}
.search-icon, nav{
    color: #FFF8E1;
    margin-right: 10px;
   

}